.btn{
	.font-primary;
	.transition(0.2s);
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	background: #b12120;
}
.btn:hover,.btn-hover{
	background: @color-primary;
}