@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext);
@import url('../typicons/typicons.min.css');
.font-primary{
	font-family:'Open Sans',sans-serif;
}
.font-header{
	font-family:'Open Sans',sans-serif;
}
.font-icon{
	font-family:'typicons';
}
