.mod_menu-main{
	width: 620px;
	float: right;
	padding: 74px 0 30px;
	ul{
		.reset-ul;
		.clearfix;
		float: right;
		li{
			.reset-li;
			position: relative;
			float: left;
			font-weight: normal;
			font-size: 15px;
			line-height: 48px;
			padding: 0 0 0 40px;
			&:before{
				position: absolute;
				left: 9px;
				top: 0;
				width: 27px;
				height: 48px;
				background: url(../images/bg/02.png) no-repeat;
			}
			&:first-child:before{
				display: none;
			}
			a{
				color: @color-primary;
				text-decoration: none;
				&:hover{
					color: @color-link;
				}
			}
			&.act{
				a{
					color: @color-link;
				}
			}
		}
	}
}
.mod_custom-slideshow{
	.item{
		width: 100%;
		height: 400px;
		.img{
			position: absolute;
			left: -110px;
			top: 0;
		}
		.txt{
			position: relative;
			width: 400px;
			padding: 90px 0 0;
			margin: 0 0 0 510px;
			font-size: 48px;
			line-height: 1.2;
			color: @color-primary;
			text-align: right;
			&.white{
				color: #fff;
			}
		}
	}
	.arrs{
		.container;
		z-index: 999;
		.prev,.next{
			position: absolute;
			left: -169px;
			top: 162px;
			i{
				display: block;
				width: 21px;
				height: 77px;
				background: url(../images/bg/03.png) no-repeat;
			}
			&:hover{
				i{
					background-position: left bottom;
				}
			}
		}
		.next{
			left: auto;
			right: -169px;
			i{
				background-position: right top;
			}
			&:hover{
				i{
					background-position: right bottom;
				}
			}
		}
		@media(max-width: 1360px){
			.prev,.next{
				left: -100px;
				padding: 10px 30px;
				background: rgba(0,0,0,0.5);
			}
			.next{
				left: auto;
				right: -100px;
			}
		}
		@media(max-width: 1200px){
			.prev{
				left: -50px;
			}
			.next{
				right: -50px;
			}
		}
		@media(max-width: 1080px){
			.prev{
				left: 0;
			}
			.next{
				right: 0;
			}
		}
	}
}
.mod_custom-realizace{
	position: relative;
	margin: 0 0 -102px;
	nav{
		float: right;
		font-size: 18px;
		letter-spacing: 0.01em;
		line-height: 26px;
		padding: 7px 0 0 0;
		a{
			display: inline-block;
			position: relative;
			padding: 0 0 0 36px;
			color: #ededed;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.transition(0.2s);
				.font-icon;
				.border-radius(14px);
				position: absolute;
				content: '\e0cf';
				top: 0;
				left: 0;
				height: 25px;
				line-height: 25px;
				width: 25px;
				text-align: center;
				border: 1px solid #fff;
			}
		}
	}
	.mod-title{
		font-size: 36px;
		font-weight: 300;
		line-height: 1;
		margin: 0;
	}
	.items{
		.clearfix;
		margin: 0 0 0 -65px;
		.itemset{
			width: 100%;
		}
		.item{
			width: 270px;
			float: left;
			padding: 53px 0 0;
			margin: 0 0 0 65px;
			white-space: normal;
			a{
				text-decoration: none;
				color: #ededed;
				.title{
					position: relative;
					text-transform: uppercase;
					font-size: 24px;
					line-height: 1;
					padding: 0 0 0 100px;
					height: 105px;
					.icon{
						.border-radius(40px);
						position: absolute;
						top: -12px;
						left: 0;
						width: 78px;
						height: 78px;
						border: 1px solid #9c9c9c;
						&:before{
							position: absolute;
							content: '';
							top: 100%;
							left: 50%;
							width: 1px;
							height: 38px;
							background: #9c9c9c;
						}
						img{
							.transition(0.2s);
							position: absolute;
							top: -16px;
							left: 0;
							width: 92px;
							height: 92px;
						}
					}
					h3{
						margin: 0;
					}
				}
				&:hover{
					.title{
						.icon{
							img{
								width: 105px;
								height: 105px;
							}
						}
					}
				}
				.img{
					padding: 0 0 14px;
					background: url(../images/bg/05.png) no-repeat bottom;
					border-top: 4px solid #ededed;
					img{
						display: block;
					}
				}
			}
		}
	}
	.arrs{
		.container;
		z-index: 999;
		.prev,.next{
			position: absolute;
			left: -64px;
			bottom: 3px;
			width: 65px;
			height: 57px;
			background: url(../images/bg/04.png) no-repeat;
			&:hover{
				background-position: 0 -57px;
			}
		}
		.next{
			left: auto;
			right: -64px;
			background-position: -65px 0;
			&:hover{
				background-position: -65px -57px;
			}
		}
		@media(max-width: 1080px){
			.prev{
				left: 0;
			}
			.next{
				right: 0;
			}
		}
	}
	&.condensed{
		.items{
			.item{
				margin-top: -68px;
				margin-bottom: 32px;
				a{
					.title{
						.icon{
							&:before{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
.mod_custom-intro{
	float: left;
	width: 448px;
	h2{
		font-size: 24px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.008em;
		margin: 0 0 20px;
	}
	ul{
		.reset-ul;
		margin: 0 0 30px;
		li{
			.reset-li;
			font-size: 18px;
			line-height: 1.1;
			letter-spacing: -0.007em;
			padding: 0 0 0 26px;
			margin: 0 0 7px;
			&:before{
				.font-icon;
				.border-radius(8px);
				.box-shadow(-1px 0 0 rgba(0,0,0,0.2));
				position: absolute;
				content: '\e0cf';
				left: -2px;
				top: 2px;
				font-size: 13px;
				color: #dcdcdc;
				background: #fff;
				height: 16px;
				line-height: 18px;
				text-align: center;
				width: 16px;
			}
		}
	}
	.foo{
		margin: 33px 0 0;
		font-size: 18px;
		line-height: 1.3;
		letter-spacing: -0.01em;
		mark{
			background: none;
			color: @color-link;
		}
		small{
			font-size: 16px;
		}
	}
}
.mod_custom-dodavky{
	float: right;
	width: 448px;
	font-size: 18px;
	.iso{
		.border-radius(63px);
		position: relative;
		float: right;
		width: 124px;
		height: 88px;
		padding: 36px 0 0;
		margin: -6px -31px 0 0;
		text-align: center;
		font-size: 12px;
		line-height: 1.7;
		font-weight: 600;
		text-transform: uppercase;
		color: @color-link;
		border: 1px solid @color-link;
		&:before{
			.font-icon;
			.border-radius(23px);
			position: absolute;
			content: '\e0c2';
			top: -20px;
			left: 50%;
			margin-left: -23px;
			width: 46px;
			height: 46px;
			line-height: 46px;
			text-align: center;
			color: #fff;
			background: @color-link;
			font-size: 24px;
			font-weight: normal;
		}
	}
	@media(max-width: 1080px){
		.iso{
			margin-right: 0;
		}
	}
	h2{
		font-size: 24px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.008em;
		margin: 0 0 8px;
	}
	h3{
		font-size: 16px;
		font-weight: 600;
		letter-spacing: -0.01em;
		color: @color-link;
		margin: 0 0 16px;
	}
	ul{
		.reset-ul;
		margin: 11px 0;
		li{
			.reset-li;
			padding: 0 0 0 25px;
			margin: 0 0 7px;
			line-height: 1.1;
			letter-spacing: -0.01em;
			&:before{
				.font-icon;
				position: absolute;
				left: 0;
				top: -1px;
				content: '\e11e';
				color: #fff;
				font-size: 24px;
				line-height: 1;
				text-shadow: -2px 0 0 rgba(0,0,0,0.2);
			}
		}
	}
	nav{
		padding: 23px 0 0;
		a{
			.btn;
			font-size: 24px;
			height: 51px;
			line-height: 48px;

			&:before{
				.font-icon;
				content: '\e007';
				float: right;
				margin: 3px 0 0 24px;
			}
			&:hover{
				.btn-hover;
			}
		}
	}
}
.mod_custom-zelena{
	float: left;
	width: 297px;
	padding: 0 0 0 166px;
	margin: 0 0 0 -15px;
	background: url(../images/bg/06.png) no-repeat 0 4px;
	h2{
		font-size: 25px;
		line-height: 1.4;
		font-weight: 300;
		color: @color-link;
		margin: 0 0 15px;
		letter-spacing: -0.01em;
		mark{
			text-transform: uppercase;
			font-weight: 600;
			color: @color-link;
			background: none;
		}
	}
	.content{
		font-size: 13px;
		line-height: 1.3;
		padding: 0 0 0 14px;
		border-left: 9px solid @color-link;
		p{
			margin: 0;
		}
	}
}
.mod_custom-kontakt{
	float: right;
	width: 448px;
	.mod-title{
		font-size: 24px;
		text-transform: uppercase;
		margin: 0 0 11px;
	}
	address{
		position: relative;
		float: left;
		width: 160px;
		padding: 0 0 0 60px;
		font-style: normal;
		font-size: 14px;
		&:before{
			.border-radius(23px);
			.font-icon;
			position: absolute;
			content: '\e0a5';
			top: 5px;
			left: -1px;
			width: 44px;
			height: 44px;
			line-height: 44px;
			border: 1px solid @color-link;
			color: @color-link;
			text-align: center;
			font-size: 24px;
		}
	}
	.phone{
		position: relative;
		float: left;
		width: 160px;
		padding: 0 0 0 60px;
		font-style: normal;
		font-size: 14px;
		white-space: nowrap;
		mark{
			display: block;
			color: @color-link;
			background: none;
			font-weight: 800;
			font-size: 27px;
			line-height: 1.3;
			white-space: nowrap;
			letter-spacing: -0.01em;
		}
		&:before{
			.border-radius(23px);
			.font-icon;
			position: absolute;
			content: '\e05b';
			top: 5px;
			left: -1px;
			width: 44px;
			height: 44px;
			line-height: 44px;
			border: 1px solid @color-link;
			color: @color-link;
			text-align: center;
			font-size: 26px;
		}
		&:after{
			position: absolute;
			content: '';
			bottom: -16px;
			left: 36px;
			width: 199px;
			height: 297px;
			background: url(../images/bg/07.png);
		}
	}
	.map{
		position: relative;
		float: left;
		width: 160px;
		padding: 20px 0 0 60px;
		font-style: normal;
		font-size: 15px;
		white-space: nowrap;
		margin: -5px 0 0;
		&:before{
			.border-radius(23px);
			.font-icon;
			position: absolute;
			content: '\e09f';
			top: 5px;
			left: -1px;
			width: 44px;
			height: 44px;
			line-height: 48px;
			border: 1px solid @color-link;
			color: @color-link;
			text-align: center;
			font-size: 24px;
		}
	}
	.email{
		position: relative;
		float: left;
		width: 160px;
		padding: 20px 0 0 60px;
		font-style: normal;
		font-size: 15px;
		white-space: nowrap;
		margin: -5px 0 0;
		&:before{
			.border-radius(23px);
			.font-icon;
			position: absolute;
			content: '\e059';
			top: 5px;
			left: -1px;
			width: 44px;
			height: 44px;
			line-height: 48px;
			border: 1px solid @color-link;
			color: @color-link;
			text-align: center;
			font-size: 24px;
		}
	}
}
.mod_menu-footer{
	float: left;
	width: 700px;
	ul{
		.reset-ul;
		.clearfix;
		margin: 0 0 26px;
		li{
			.reset-li;
			float: left;
			font-size: 12px;
			line-height: 1.2;
			margin: 0 32px 0 0;
			text-transform: uppercase;
			a{
				color: @color-primary;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}